*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
}
.container{
    width: 350px;
    height: 400px;
    position: relative;
    margin: auto;
    border-radius:5px;
    background-color: blueviolet;
}
.mishka{
    width: 110px;
    height: 90px;
    position: relative;
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.636);
    border-radius: 30px;
    transform: rotate(45deg);
    background-color: black;
}
.mishka_1{
    width: 20px;
    height: 3px;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: gray;
}

.square{
    width: 50px;
    height: 50px;
    margin-top: 60px;
    position: relative;
    position: absolute;
    left: 100px;
    border-radius: 100%;
    background-color: green;
}
.square2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 530px;
    left: 75px;
    border-radius: 40px 40px 5px 5px;
    background-color: rgb(5, 87, 5);
}


























